# Tarea 1

Fecha de entrega:
Jueves 7 de agosto, 2025, 11:59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables.
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no.
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [6]:
#Respuesta
y=(5*5+5)*2**2
print(y)

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```100```

In [5]:
x = 5*5*2*2
print(x)

100

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [7]:
y>x

True

3. Utilizando sólo los siguientes inputs: ```51``` maneja los operadores tal que el output sea ```0```

In [8]:
1//5

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [10]:
((2*2+2)*2-2)//2

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 2500. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2200.

In [17]:
x = 2000
y = 500
v = x+y==2200
print(v)

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [11]:
z=a=500
x=z+a
print(x)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [1]:
x =40*48*130
print("El total de horas que trabjan todos los congresistas es:", x)

El total de horas que trabjan todos los congresistas es: 249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [3]:
y=15600*12
x=y/(40*48)
w=130*x
print("El salario por hora de un congresista es:", x)
print("La suma de los salarios por hora de todos los congresistas es:", w)

El salario por hora de un congresista es: 97.5
La suma de los salarios por hora de todos los congresistas es: 12675.0

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

In [6]:
facturacion=3426
porcentaje_de_IGV=10/100
valor_base_sin_impuesto= (1/(1-porcentaje_de_IGV))*facturacion
print("El total de la factura es:", valor_base_sin_impuesto)

El total de la factura es: 3806.666666666667

In [7]:
impuesto = valor_base_sin_impuesto-facturacion
print("El monto del impuesto es:", impuesto)

El monto del impuesto es: 380.66666666666697

In [8]:
descuento_de_IGV= impuesto*2/100
print("El descuento de IGV en soles es:", descuento_de_IGV)

El descuento de IGV en soles es: 7.6133333333333395

10.  Cristina percibe el sueldo mínimo (1130 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [4]:
sueldo_mensual_de_cristina=1130
sueldo_anual_de_cristina=sueldo_mensual_de_cristina*12

sueldo_mensual_de_un_congresista=15600
sueldo_anual_de_un_congresista=sueldo_mensual_de_un_congresista*12

sueldo_anual_de_cristina<sueldo_anual_de_un_congresista

True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [13]:
Familias_Afectadas = 1023
Monto_Negociado = 1200000000
Monto_Sobrante = Monto_Negociado % Familias_Afectadas
Monto_Adicional = Familias_Afectadas - Monto_Sobrante
print("Para el redondeo se necesitan " + str(Monto_Adicional) + " adicionales")

Para el redondeo se necesitan 483 adicionales

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [20]:
lista_0 = ["bunbury", "slash"]
lista_1 = ["hola", False , 5 , 4 , lista_0 ]
print(lista_1)

['hola', False, 5, 4, ['bunbury', 'slash']]

13. Tenemos la siguiente lista de cursos:

In [9]:
cursos = ["Ciencia Politica", "Economia", "Antropologia", "Sociologia", "Relaciones Internacionales"]
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales']

Realiza las siguientes operaciones en bloques diferentes:
- Calcula cuántos elementos tiene la lista.

In [10]:
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional.
   - Usa el append.
   - Usa el extend.

In [48]:
lista_a =["finanzas"]
cursos_2= cursos + lista_a
print(cursos_2)

cursos.append("Psicología")
print(cursos)

cursos.extend(["Educación"])
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'finanzas']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Psicología']
['Ciencia Politica', 'Economia', 'Antropologia', 'Sociologia', 'Relaciones Internacionales', 'Psicología', 'Educación']

13.2.
- Usa la indexación para señalar a _Relaciones Internacionales_.

In [49]:
print(cursos[4])

Relaciones Internacionales

13.3.
- Remueve el curso que menos te guste de la lista.

In [50]:
cursos.remove("Sociologia")
print(cursos)

['Ciencia Politica', 'Economia', 'Antropologia', 'Relaciones Internacionales', 'Psicología', 'Educación']

14
Tenemos los siguientes números: 22, 27, 74.2, 16.8, 125, 80, 100.
 - Crea una lista con ellos.
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [16]:
lista_c = [22, 27, 74.2, 16.8, 125, 80, 100]
print(lista_c)

lista_c.sort()
print(lista_c)

(sum(lista_c) / len(lista_c))

[22, 27, 74.2, 16.8, 125, 80, 100]
[16.8, 22, 27, 74.2, 80, 100, 125]

63.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [30]:
x = 6
if x % 2 == 0:
    print("x es multiplo de 2")
if x % 3 == 0:
    print("x es multiplo de 3")
if x % 2 == 0 and x % 3 == 0:
    print("x es multiplo de 2 y 3")
else:
    print("Otro caso")

x es multiplo de 2
x es multiplo de 3
x es multiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [44]:
def clasificar_edad(Edad):
    if Edad < 12:
        output=print("Es un niño")
    if 12 <= Edad <= 17:
        output = print("Es un Adolescente")
    if 18 <= Edad <= 24:
        output = print("Es un Joven")
    if 25 <= Edad <= 64:
        output = print("Es un Adulto")
    if Edad >= 65:
        output = print("Es un Adulto Mayor")
    return output
clasificar_edad (10)

Es un niño

In [45]:
clasificar_edad (19)

Es un Joven

In [46]:
clasificar_edad (25)

Es un Adulto

In [47]:
clasificar_edad (70)

Es un Adulto Mayor